R/alerts.R linguist-generated=true
R/catalogs.R linguist-generated=true
R/cluster_policies.R linguist-generated=true
R/clusters.R linguist-generated=true
R/command_execution.R linguist-generated=true
R/current_user.R linguist-generated=true
R/dashboards.R linguist-generated=true
R/data_sources.R linguist-generated=true
R/dbfs.R linguist-generated=true
R/dbsql_permissions.R linguist-generated=true
R/experiments.R linguist-generated=true
R/external_locations.R linguist-generated=true
R/functions.R linguist-generated=true
R/git_credentials.R linguist-generated=true
R/global_init_scripts.R linguist-generated=true
R/grants.R linguist-generated=true
R/groups.R linguist-generated=true
R/instance_pools.R linguist-generated=true
R/instance_profiles.R linguist-generated=true
R/ip_access_lists.R linguist-generated=true
R/jobs.R linguist-generated=true
R/libraries.R linguist-generated=true
R/m_lflow_artifacts.R linguist-generated=true
R/m_lflow_databricks.R linguist-generated=true
R/m_lflow_metrics.R linguist-generated=true
R/m_lflow_runs.R linguist-generated=true
R/metastores.R linguist-generated=true
R/model_version_comments.R linguist-generated=true
R/model_versions.R linguist-generated=true
R/permissions.R linguist-generated=true
R/pipelines.R linguist-generated=true
R/policy_families.R linguist-generated=true
R/providers.R linguist-generated=true
R/queries.R linguist-generated=true
R/query_history.R linguist-generated=true
R/recipient_activation.R linguist-generated=true
R/recipients.R linguist-generated=true
R/registered_models.R linguist-generated=true
R/registry_webhooks.R linguist-generated=true
R/repos.R linguist-generated=true
R/schemas.R linguist-generated=true
R/secrets.R linguist-generated=true
R/service_principals.R linguist-generated=true
R/serving_endpoints.R linguist-generated=true
R/shares.R linguist-generated=true
R/statement_execution.R linguist-generated=true
R/storage_credentials.R linguist-generated=true
R/table_constraints.R linguist-generated=true
R/tables.R linguist-generated=true
R/token_management.R linguist-generated=true
R/tokens.R linguist-generated=true
R/transition_requests.R linguist-generated=true
R/users.R linguist-generated=true
R/warehouses.R linguist-generated=true
R/workspace.R linguist-generated=true
R/workspace_conf.R linguist-generated=true
